In [1]:
import pandas as pd

In [56]:
nyaccidents=pd.read_csv("data/accidents-nyc.csv")

In [14]:
nyaccidents

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,4/13/21,21:35,BROOKLYN,1,0,1,0,0,0,0,0,Unspecified,NaN,4407147,Sedan,NaN
1,4/13/21,16:00,BROOKLYN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4407811,Sedan,NaN
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
3,4/11/21,21:06,BROOKLYN,1,0,1,0,0,0,0,0,Passing Too Closely,NaN,4406488,Taxi,NaN
4,4/15/21,20:00,STATEN ISLAND,0,0,0,0,0,0,0,0,Unspecified,NaN,4408310,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282868,1/1/19,19:00,BROOKLYN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
282869,1/1/19,8:00,BRONX,0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
282870,1/1/19,3:30,BRONX,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
282871,1/1/19,19:30,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
282872,1/1/19,12:00,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [15]:
nyaccidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282873 entries, 0 to 282872
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     282873 non-null  object
 1   CRASH TIME                     282873 non-null  object
 2   BOROUGH                        282873 non-null  object
 3   NUMBER OF PERSONS INJURED      282873 non-null  int64
 4   NUMBER OF PERSONS KILLED       282873 non-null  int64
 5   NUMBER OF PEDESTRIANS INJURED  282873 non-null  int64
 6   NUMBER OF PEDESTRIANS KILLED   282873 non-null  int64
 7   NUMBER OF CYCLIST INJURED      282873 non-null  int64
 8   NUMBER OF CYCLIST KILLED       282873 non-null  int64
 9   NUMBER OF MOTORIST INJURED     282873 non-null  int64
 10  NUMBER OF MOTORIST KILLED      282873 non-null  int64
 11  CONTRIBUTING FACTOR VEHICLE 1  281489 non-null  object
 12  CONTRIBUTING FACTOR VEHICLE 2  224591 non-null  object
 13  COLLISION_ID                   282873 non-null  int64
 14  VEHICLE TYPE CODE 1            279986 non-null  object
 15  VEHICLE TYPE CODE 2            201168 non-null  object
dtypes: int64(9), object(7)
memory usage: 34.5+ MB

In [17]:
nyaccidents["CRASH DATE"]

0         4/13/21
1         4/13/21
2         4/13/21
3         4/11/21
4         4/15/21
           ...
282868     1/1/19
282869     1/1/19
282870     1/1/19
282871     1/1/19
282872     1/1/19
Name: CRASH DATE, Length: 282873, dtype: object

In [18]:
#which borough has the most crashes
nyaccidents["BOROUGH"]

0              BROOKLYN
1              BROOKLYN
2                QUEENS
3              BROOKLYN
4         STATEN ISLAND
              ...
282868         BROOKLYN
282869            BRONX
282870            BRONX
282871         BROOKLYN
282872        MANHATTAN
Name: BOROUGH, Length: 282873, dtype: object

In [20]:
borough_sort = nyaccidents.sort_values(by=["BOROUGH"],ascending=False)

In [21]:
borough_sort

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
232746,5/18/19,21:46,STATEN ISLAND,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,4134185,Station Wagon/Sport Utility Vehicle,NaN
208313,7/8/19,12:00,STATEN ISLAND,1,0,0,0,0,0,1,0,Following Too Closely,Unspecified,4166459,Sedan,Sedan
43604,11/8/20,6:40,STATEN ISLAND,1,0,0,0,0,0,1,0,Fell Asleep,Unspecified,4365593,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
208334,6/30/19,16:20,STATEN ISLAND,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4161819,Sedan,Sedan
114549,3/14/20,13:15,STATEN ISLAND,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4300432,Sedan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66936,9/1/20,14:05,BRONX,0,0,0,0,0,0,0,0,Traffic Control Disregarded,Unspecified,4344067,Station Wagon/Sport Utility Vehicle,Sedan
66935,8/23/20,16:03,BRONX,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,4340928,Sedan,NaN
239428,4/17/19,10:46,BRONX,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4120428,Sedan,Sedan
239429,4/17/19,18:04,BRONX,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,4116756,Station Wagon/Sport Utility Vehicle,NaN
173234,10/18/19,9:21,BRONX,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4225194,Sedan,Station Wagon/Sport Utility Vehicle

In [24]:
df_brooklyn=nyaccidents[nyaccidents["BOROUGH"]== "BROOKLYN"]

In [25]:
df_brooklyn

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,4/13/21,21:35,BROOKLYN,1,0,1,0,0,0,0,0,Unspecified,NaN,4407147,Sedan,NaN
1,4/13/21,16:00,BROOKLYN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4407811,Sedan,NaN
3,4/11/21,21:06,BROOKLYN,1,0,1,0,0,0,0,0,Passing Too Closely,NaN,4406488,Taxi,NaN
5,5/21/19,22:50,BROOKLYN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4136992,ï¿½MBU,Taxi
7,3/31/21,22:20,BROOKLYN,1,0,0,0,0,0,1,0,Driver Inexperience,Unspecified,4403773,Sedan,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282857,1/1/19,0:19,BROOKLYN,1,0,1,0,0,0,0,0,Unspecified,NaN,4060513,Station Wagon/Sport Utility Vehicle,NaN
282859,1/1/19,6:51,BROOKLYN,1,0,0,0,0,0,1,0,Unsafe Speed,Unspecified,4067615,Sedan,Station Wagon/Sport Utility Vehicle
282865,1/1/19,9:05,BROOKLYN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4062946,Sedan,NaN
282868,1/1/19,19:00,BROOKLYN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
282871,1/1/19,19:30,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan

In [26]:
nyaccidents["BOROUGH"].value_counts()
#BROOKLYN HAD THE MOST ACCIDENTS

BROOKLYN         95099
QUEENS           80085
BRONX            50123
MANHATTAN        48864
STATEN ISLAND     8702
Name: BOROUGH, dtype: int64

In [ ]:
#primary vehicle involved - is SEDANS

In [47]:
nyaccidents["VEHICLE TYPE CODE 1"].value_counts()

Sedan                                  129987
Station Wagon/Sport Utility Vehicle    102850
Taxi                                    10647
Pick-up Truck                            7183
Box Truck                                5504
                                        ...
SLINGSHOT                                   1
CHEVY EXPR                                  1
Go kart                                     1
FDNY Engin                                  1
MAC T                                       1
Name: VEHICLE TYPE CODE 1, Length: 633, dtype: int64

In [49]:
nyaccidents["VEHICLE TYPE CODE 2"].value_counts()

Sedan                                  84241
Station Wagon/Sport Utility Vehicle    68723
Bike                                    8544
Taxi                                    6939
Box Truck                               6365
                                       ...
e-bike                                     1
FRIEGHTLIN                                 1
ESCOOTER                                   1
Electric s                                 1
G COM                                      1
Name: VEHICLE TYPE CODE 2, Length: 735, dtype: int64

In [48]:
v1 = nyaccidents["VEHICLE TYPE CODE 1"]

In [42]:
v2 = nyaccidents["VEHICLE TYPE CODE 2"]

In [43]:
all_v = v1+v2

In [50]:
#5 unusual vehicles are e-bikes, go carts, Slingshot, Chevy Expr, MacT, Frightelin

In [46]:
all_v.value_counts(ascending=False)

SedanSedan                                                                41834
Station Wagon/Sport Utility VehicleStation Wagon/Sport Utility Vehicle    29523
SedanStation Wagon/Sport Utility Vehicle                                  28438
Station Wagon/Sport Utility VehicleSedan                                  27829
SedanBike                                                                  3940
                                                                          ...
DRILL RIGStation Wagon/Sport Utility Vehicle                                  1
PKE-SCOOTER                                                                   1
Station Wagon/Sport Utility VehicleJohn Deere                                 1
SedanUKN                                                                      1
MAC TSedan                                                                    1
Length: 2575, dtype: int64

In [59]:
df_q =  nyaccidents[nyaccidents["BOROUGH"] == "QUEENS"]

In [61]:
df_q

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
10,4/14/21,21:43,QUEENS,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4407407,Station Wagon/Sport Utility Vehicle,NaN
17,4/15/21,14:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4407616,Sedan,Station Wagon/Sport Utility Vehicle
27,4/16/21,11:00,QUEENS,1,0,0,0,1,0,0,0,Turning Improperly,Unspecified,4407792,Station Wagon/Sport Utility Vehicle,Bike
28,4/16/21,17:00,QUEENS,5,0,0,0,0,0,5,0,Traffic Control Disregarded,Unspecified,4407853,Sedan,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282861,1/1/19,11:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
282862,1/1/19,12:30,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
282863,1/1/19,2:18,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
282864,1/1/19,13:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
282866,1/1/19,10:23,QUEENS,1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [65]:
df_q

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
10,4/14/21,21:43,QUEENS,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4407407,Station Wagon/Sport Utility Vehicle,NaN
17,4/15/21,14:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4407616,Sedan,Station Wagon/Sport Utility Vehicle
27,4/16/21,11:00,QUEENS,1,0,0,0,1,0,0,0,Turning Improperly,Unspecified,4407792,Station Wagon/Sport Utility Vehicle,Bike
28,4/16/21,17:00,QUEENS,5,0,0,0,0,0,5,0,Traffic Control Disregarded,Unspecified,4407853,Sedan,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282861,1/1/19,11:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
282862,1/1/19,12:30,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
282863,1/1/19,2:18,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
282864,1/1/19,13:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
282866,1/1/19,10:23,QUEENS,1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [67]:
df_q.sum()

/var/folders/25/fh62773n5g987tqzkm3kf5pr0000gn/T/ipykernel_2792/643633864.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_q.sum()

CRASH DATE                       4/13/214/14/214/15/214/16/214/16/214/16/214/16...
CRASH TIME                       17:3021:4314:3011:0017:008:058:4013:5513:027:4...
BOROUGH                          QUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEE...
NUMBER OF PERSONS INJURED                                                    26815
NUMBER OF PERSONS KILLED                                                       120
NUMBER OF PEDESTRIANS INJURED                                                 4639
NUMBER OF PEDESTRIANS KILLED                                                    61
NUMBER OF CYCLIST INJURED                                                     2285
NUMBER OF CYCLIST KILLED                                                         8
NUMBER OF MOTORIST INJURED                                                   19483
NUMBER OF MOTORIST KILLED                                                       51
COLLISION_ID                                                          342061686984
dtype: object

In [ ]:
#120 people were killed in Queens

In [ ]:
#8 cyclists were killed Queens

In [ ]:
## Filter and subset 
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause

In [69]:
df_m =  nyaccidents[nyaccidents["BOROUGH"] == "MANHATTAN"]

In [70]:
df_m

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
15,4/16/21,21:20,MANHATTAN,0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,4407958,Sedan,NaN
16,4/16/21,17:20,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4407885,Station Wagon/Sport Utility Vehicle,Sedan
39,4/16/21,20:55,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408280,Sedan,Station Wagon/Sport Utility Vehicle
46,4/15/21,22:25,MANHATTAN,1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,4407830,Sedan,NaN
47,4/14/21,10:09,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4407282,Tow Truck / Wrecker,Dump
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282842,1/1/19,20:32,MANHATTAN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4060664,Sedan,Sedan
282847,1/1/19,4:48,MANHATTAN,0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,4060841,Station Wagon/Sport Utility Vehicle,Sedan
282851,1/1/19,6:00,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4060698,Taxi,NaN
282853,1/2/19,9:57,MANHATTAN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4061283,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle
282872,1/1/19,12:00,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [79]:
df_taxi1=df_m[df_m["VEHICLE TYPE CODE 1"] == "Taxi"]
df_taxi1

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
67,4/14/21,8:03,MANHATTAN,1,0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,4407277,Taxi,NaN
144,4/14/21,0:42,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4407278,Taxi,Sedan
159,4/16/21,19:54,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4407959,Taxi,NaN
283,4/16/21,21:04,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4408288,Taxi,NaN
326,4/16/21,16:15,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408069,Taxi,Bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282632,1/1/19,1:30,MANHATTAN,0,0,0,0,0,0,0,0,Other Vehicular,Driver Inattention/Distraction,4060445,Taxi,Station Wagon/Sport Utility Vehicle
282684,1/1/19,16:00,MANHATTAN,2,0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,4061524,Taxi,Station Wagon/Sport Utility Vehicle
282802,1/1/19,16:15,MANHATTAN,0,0,0,0,0,0,0,0,Passenger Distraction,Passing Too Closely,4060796,Taxi,Sedan
282819,1/1/19,20:30,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4060662,Taxi,NaN
282851,1/1/19,6:00,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4060698,Taxi,NaN

In [80]:
df_taxi2=df_m[df_m["VEHICLE TYPE CODE 2"] == "Taxi"]
df_taxi2

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
342,4/14/21,16:25,MANHATTAN,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,Unspecified,4407529,Sedan,Taxi
622,4/17/21,14:11,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4408072,Sedan,Taxi
1092,4/20/21,16:00,MANHATTAN,1,0,0,0,0,0,1,0,Following Too Closely,Unspecified,4409086,Sedan,Taxi
1450,4/22/21,17:30,MANHATTAN,1,0,0,0,0,0,1,0,Driver Inattention/Distraction,Other Vehicular,4409742,Sedan,Taxi
1669,4/23/21,21:10,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inexperience,Traffic Control Disregarded,4410511,Sedan,Taxi
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282453,1/5/19,22:00,MANHATTAN,3,0,0,0,0,0,3,0,Traffic Control Disregarded,Unspecified,4062852,Taxi,Taxi
282520,1/3/19,9:55,MANHATTAN,0,0,0,0,0,0,0,0,Backing Unsafely,Unspecified,4061527,Sedan,Taxi
282640,1/1/19,4:12,MANHATTAN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4061312,Sedan,Taxi
282685,1/2/19,8:38,MANHATTAN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4061330,Bus,Taxi
282838,1/1/19,4:00,MANHATTAN,1,0,0,0,0,0,1,0,Alcohol Involvement,Unspecified,4061250,Sedan,Taxi

In [82]:
 #I don't see any item in this df called  'primary vehicle cause'

In [83]:
nyaccidents["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().head()

Unspecified                       78494
Driver Inattention/Distraction    70615
Failure to Yield Right-of-Way     20691
Following Too Closely             14407
Backing Unsafely                  13348
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [85]:
## What were the top 5 causes of accidents across all the boroughs?
## by secondary vehicle cause
nyaccidents["CONTRIBUTING FACTOR VEHICLE 2"].value_counts().head()

Unspecified                       190456
Driver Inattention/Distraction     14186
Other Vehicular                     3529
Failure to Yield Right-of-Way       2233
Passing or Lane Usage Improper      2171
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [86]:
## What were the 5 RAREST causes for primary vehicles causing the accident

nyaccidents["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().tail()

Shoulders Defective/Improper    13
Texting                          8
Cell Phone (hands-free)          8
Windshield Inadequate            3
Listening/Using Headphones       2
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [87]:
nyaccidents["CONTRIBUTING FACTOR VEHICLE 1"].unique()

array(['Unspecified', 'Following Too Closely',
       'Driver Inattention/Distraction', 'Passing Too Closely',
       'Passing or Lane Usage Improper', 'Driver Inexperience',
       'Failure to Yield Right-of-Way', 'Turning Improperly',
       'Unsafe Speed', 'Backing Unsafely', 'Steering Failure',
       'Traffic Control Disregarded', 'Drugs (illegal)',
       'Reaction to Uninvolved Vehicle', 'View Obstructed/Limited',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Alcohol Involvement', 'Pavement Slippery', 'Brakes Defective',
       'Oversized Vehicle', 'Animals Action', 'Unsafe Lane Changing',
       'Outside Car Distraction', 'Illnes', 'Other Vehicular',
       'Aggressive Driving/Road Rage', 'Fell Asleep',
       'Tire Failure/Inadequate', 'Pavement Defective', nan,
       'Lost Consciousness', 'Accelerator Defective',
       'Passenger Distraction', 'Glare', 'Eating or Drinking',
       'Cell Phone (hands-free)', 'Lane Marking Improper/Inadequate',
       'Obstruction/Debris', 'Failure to Keep Right',
       'Using On Board Navigation Device', 'Fatigued/Drowsy',
       'Physical Disability', 'Cell Phone (hand-Held)',
       'Headlights Defective', 'Tinted Windows', 'Vehicle Vandalism',
       'Driverless/Runaway Vehicle', 'Prescription Medication', 'Texting',
       'Traffic Control Device Improper/Non-Working',
       'Tow Hitch Defective', 'Shoulders Defective/Improper',
       'Windshield Inadequate', 'Other Lighting Defects',
       'Other Electronic Device', 'Listening/Using Headphones'],
      dtype=object)

In [88]:
nyaccidents["CONTRIBUTING FACTOR VEHICLE 2"].unique()

array([nan, 'Unspecified', 'Unsafe Speed',
       'Driver Inattention/Distraction', 'Failure to Yield Right-of-Way',
       'Turning Improperly', 'Driver Inexperience',
       'Following Too Closely', 'View Obstructed/Limited',
       'Oversized Vehicle', 'Passing Too Closely', 'Other Vehicular',
       'Traffic Control Disregarded', 'Passing or Lane Usage Improper',
       'Reaction to Uninvolved Vehicle', 'Backing Unsafely',
       'Alcohol Involvement', 'Outside Car Distraction',
       'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
       'Obstruction/Debris', 'Aggressive Driving/Road Rage',
       'Vehicle Vandalism', 'Pavement Slippery', 'Unsafe Lane Changing',
       'Passenger Distraction', 'Fell Asleep',
       'Driverless/Runaway Vehicle', 'Drugs (illegal)', 'Fatigued/Drowsy',
       'Brakes Defective', 'Headlights Defective',
       'Failure to Keep Right', 'Glare', 'Other Lighting Defects',
       'Traffic Control Device Improper/Non-Working',
       'Cell Phone (hands-free)', 'Lane Marking Improper/Inadequate',
       'Pavement Defective', 'Tinted Windows', 'Cell Phone (hand-Held)',
       'Listening/Using Headphones', 'Steering Failure',
       'Tow Hitch Defective', 'Tire Failure/Inadequate', 'Illnes',
       'Lost Consciousness', 'Other Electronic Device', 'Animals Action',
       'Prescription Medication', 'Accelerator Defective',
       'Shoulders Defective/Improper', 'Using On Board Navigation Device',
       'Physical Disability', 'Eating or Drinking', 'Texting'],
      dtype=object)

In [ ]:
#animals action, windshield inadequate, and "tow hitch defective" seemed interesting to me!